<!-- jumbotron-->
<div class="page-title d-flex" aria-label="Page title" style="background-image: url(img/page-title/shop-pattern.jpg);">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">

        </nav>
        <h1 class="page-title-heading">Back Office Produits</h1>
      </div>
    </div>

    <!-- Backoffice Items-->
<section class="container py-5 mb-4">
  <h1 class="h4 block-title text-center pt-3">Les produits de mon site CatCatsLand</h1>

          <div class="table-responsive">
            <table class= 'table table-striped'>
            <thead>
            <tr class= 'bg-gradient'>
              <th>#</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Photo produit</th>
              <th>Modifier produit</th>
              <th>Supprimer produit</th>
            </tr>
            </thead>
            <tbody>
            <% @items.each do |item|%>
            <tr>
              <td><%=item.id%></td>
              <td><%=item.title%></td>
              <td><%=item.description%></td>
              <td>
              <%if item.catpic.attached?%>
                  <%= image_tag item.catpic %>
                <%else%>
                  <%= image_tag "cat_1.jpg", alt: "photos de chat" %>
                <%end%>     
              </td>
              <td><%=link_to 'Editer', edit_admin_item_path(item.id) %></td>
              <td><%=link_to 'Supprimer', admin_item_path(item.id), method: :delete %></td>
            </tr>
              <% end %>
            </table>
      </div>
</div>
</div>
</section>

        <!-- Total items-->
        <p class="container py-5 mb-4">
                <strong>Nombre total de produits: <%= @items.count %></strong>
        </p>

    <!-- Bouton créer un produit-->
        <div class="container">
          <div class="container-fluid">
            <div class="row"> 
              <div class= "col-sm-4"></div>
            <%=link_to 'Créer un nouveau produit', new_admin_item_path, class: "btn btn-primary text-center" %>
              </div>
            </div>
          </div>
        </div>
    </div>