<div class="page-title d-flex" aria-label="Page title" >
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">

        </nav>
        <h1 class="page-title-heading">Modifier mon profil</h1>
      </div>
    </div>
    
 <!--<h2>Modification <%= resource_name.to_s.humanize %></h2>-->


<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4 pb-5">
          <!-- Account Sidebar-->
        <div class="author-card pb-3">
          <div class="author-card-cover"><%= image_tag  "cat_background.png"%></div>
            <div class="author-card-profile">
            <i class="fas fa-user-circle fa-7x"></i>
              <div class="author-card-details">
                <h5 class="author-card-name text-lg"><%= @user.first_name %> <%= @user.last_name %></h5>
                <span class="author-card-position">Depuis le <%= @user.created_at.strftime("%d %B %Y") %></span>
              </div>
            </div>
          </div>
          <div class="wizard">
            <nav class="list-group list-group-flush">
              <div class="list-group-item active">
                <div class="d-flex justify-content-between align-items-center">
                  <div><i class="fas fa-cog text-muted"></i>
                    <div class="d-inline-block font-weight-medium text-uppercase" >
                    Paramètres Profil
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
             <!-- end-->
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5">
         
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row">   
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :Prénom %><br />
                <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class: "form-control" %>
              </div>
             </div>

            <div class="col-md-6">
              <div class="form-group"> 
                  <%= f.label :Nom %><br />
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom" , class: "form-control" %>
              </div>
             </div>

         <div class="col-md-6 ">
              <div class="form-group ">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "Adresse E-mail", class: "form-control"  %>
              </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>En attente de confirmation: <%= resource.unconfirmed_email %></div>
                <% end %>
          </div>

        <div class="col-md-6 ">
              <div class="form-group ">
              <%= f.label :mot_de_passe %> <i></i><em> <% if @minimum_password_length %>
              (<%= @minimum_password_length %> caractères minimum)</em><br /><% end %>
              <%= f.password_field :password, autocomplete: "Nouveau mot de passe", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6 ">
            <div class="form-group ">
              <%= f.label :Confirmation_mot_de_passe %><br />
              <%= f.password_field :password_confirmation, autocomplete: "Confirmer votre nouveau mot de passe", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6 ">
            <div class="form-group ">
              <%= f.label :Mot_de_passe_actuel %> <i>(confirmer les changements)</i><br />
              <%= f.password_field :current_password, autocomplete: "ancien mot de passe", class: "form-control" %>
          </div>
        </div>
        <div class="col-12 text-center">
              <div class="d-flex flex-wrap justify-content-end align-items-center">
              <%= f.submit "Mettre à jour mon profil", class:"btn btn-primary" %>
              </div>
        </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
 <!-- end-->
</div>




<div class="container">
  <div class="row">
    <div class= "col-md-12 text-center">
    <h4 class="text-center">Supprimer mon compte</h4>
    <hr class="mt-2 mb-3">
    </div>
  </div>
  <div class="row"  style= "margin-bottom:16px;" >
    <div class="col-6 d-flex flex-wrap justify-content-end align-items-center">
      <em> Déçu ? Vous pouvez supprimer votre compte ici : </em>
    </div>
    <div class="col-6 text-left d-flex flex-wrap justify-content-between align-items-center">
      <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr de vous?" }, method: :delete,  class:"btn btn-primary btn-sm" %></p>
    </div>  
  </div>
</div>
 
<% if @user.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>