
<div class="page-title d-flex" aria-label="Page title" style="background-image: url(img/page-title/shop-pattern.jpg);">
     <div class="container text-left align-self-center">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="<%= root_path%>">Accueil</a>
           </li>
           <li class="breadcrumb-item"><a href="<%= items_path%>">Les produits</a>
           </li>
         </ol>
       </nav>
       <h1 class="page-title-heading">Mon panier</h1>
     </div>
   </div>

<div class="container pb-5 mb-2">
     <!-- Cart Item-->
     <% @selection.each do |selection|  %>
     <div class="cart-item d-md-flex justify-content-between"><a><%= link_to(item_path(selection.item_id),action: "destroy", method: :delete, data: {confirm: "Es-tu sûr?"},  class: "remove-item") do %>
      <i class="fas fa-times"></i></a> <!--fe-icon-x-->
      <% end %>
       <div class="px-3 my-3"><a class="cart-item-product" href="<%= item_path(selection.item_id)%>">
           <div class="cart-item-product-thumb"><%= image_tag 'cat_1.jpg'  %></div>
           <div class="cart-item-product-info">
             <h4 class="cart-item-product-title"><%= selection.item.title  %></h4></div></a></div>
       <div class="px-3 my-3 text-center">
         <div class="cart-item-label">Quantité</div>
         <div class="count-input">
           <select class="form-control">
             <option>1</option>
           </select>
         </div>
       </div>
       <div class="px-3 my-3 text-center">
         <div class="cart-item-label"><%= "Sous total"  %></div><span class="text-xl font-weight-medium"><%= selection.item.price %>€</span>
       </div>
     </div>
      <%end%>

      <!-- Si le panier est vide -->
      <% if @total === 0%>
       <div class="px-3 my-3 text-center">
          <h2> Le panier est vide. </h2>
       </div>
      <% end %>

     <!-- Total à payer-->
     <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Total:</span><span class="d-inline-block align-middle text-xl font-weight-medium"><%= @total %></span>€</div>

    <% if @total === 0 %>
      <div class="pymtbutton">
       <div class="col-sm-6 mb-3">
        <a class="btn btn-secondary btn-block" href="<%= items_path %>">Continuer mes achats</a>
        </div>
      </div>
   
    <% else %>

     <!-- Buttons-->
      <div class="pymtbutton">
       <div class="col-sm-6 mb-3">
        <%= form_tag(orders_path, method: "create")  do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <%= hidden_field_tag 'amount', @total %>
          </label>
        </article>
        <div class="btn btn-primary btn-block">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Achat des photos de chaton"
                  data-amount="<%= @total * 100%>"
                  data-locale="auto"
                  data-currency="eur"></script>

          <script>
            $(function() {
              $(".stripe-button-el").replaceWith('<button type="submit" class="btn btn-primary btn-block"><i class="fas fa-credit-card"></i>Paiement</button>');
            });
          </script>
        
        </div>
        <% end %>
       </div>
      </div>
      <!-- fin de stripe -->
      <%end%>


    </div>
    

