<section class="container py-5 mb-4">
  <h2 class="h4 block-title text-center pt-3">Nos chatons trop mignons</h2>

  <div class="row pt-4">
  <% @items.each do |item| %>
    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
      <!-- Product Card -->
      <div class="product-card mx-auto mb-3">
        <div class="product-head d-flex justify-content-between align-items-center">
          <span class="badge badge-success">En stock</span>
          <div class="rating-stars">
          <!--   <i class="fe-icon-star active"></i>
            <i class="fe-icon-star active"></i>
            <i class="fe-icon-star active"></i>
            <i class="fe-icon-star active"></i>
            <i class="fe-icon-star"></i>-->
            <i class="fas fa-star active"></i>
            <i class="fas fa-star active"></i>
            <i class="fas fa-star active"></i>
            <i class="fas fa-star active"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <span class="product-thumb">
          <%if item.catpic.attached?%>
          <%= image_tag item.catpic %>
          <%else%>
          <%= image_tag "cat_1.jpg", alt: "photos de chat" %>
          <%end%>
        </span>
        <div class="product-card-body">
          <span class="product-meta"><%= link_to item.title, item %></span>
          <h5 class="product-title">
            <%= link_to item.title, item %>
          </h5>
          <span class="product-price"><%= item.price %>€</span>
        </div>

        <div class="product-buttons-wrap">
          <div class="product-buttons">
            <div class="product-button">
              <%=  link_to(carts_path(item.id), data: {toast_position: "topRight" ,toast_type:"success" , toast_icon: "fe-icon-check-circle", toast_title: "Product" , toast_message: "added to cart successfuly!"}, method: "create") do %>
                <!--<i class="fe-icon-shopping-cart"></i>-->
         <i class="fas fa-shopping-cart"></i>
              <% end %>
            </div>
            <div class="product-button">
              <a href=<%= item_path(item.id) %>>
                <!--<i class="fe-icon-arrow-right"></i>-->
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</section>